<% content_for :title, "Login" %>

<head>
	<h1>Login</h1>
</head>

<body>
	<p>Login here.</p>

	<% if flash[:notice] %>
		<p><%= flash[:notice] %></p>
	<% end %>

	<%= form_tag("post_login", method: "post") do %>
		<%= label_tag(:username, "Username:") %>
		<%= text_field_tag(:username) %>
		<br />
		<%= label_tag(:password, "Password:") %>
		<%= password_field_tag(:password) %>
		<br />
		<%= submit_tag("Login") %>
	<% end %>

	<p><a href="<%= url_for :controller => :users, :action => :new %>">New User</a></p>
</body>


